:root {
    --body: #002b51;
    --head: #00325E;
    --border: #004E92;
    --search: #0075BE;
    --signin: #00BE42;
    --login: #0075BE;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body{
    width: 100%;
    overflow-x: hidden;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    background-color: var(--body);
    color: white;
    margin: 0;
    cursor: context-menu;
}

header {
    background-color: var(--head);
    border-bottom: 7px solid var(--border);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

header h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 10px 0 0 30px;
}

header i {
    font-size: 2em;
    position: absolute;
    left: 30px;
    cursor: pointer;
}

.category {
    padding-top: 95px;
    height: 250px;
    background: url(./category.jpg);
    background-position: center;
}

.category h2 {
    font-size: 2.2em;
    margin: 0;
    text-align: center;
    text-shadow: 0 0 10px black, 0 0 20px black;
    font-weight: 400;
}

#search-form {
    text-align: center;
    margin-top: 30px;
}

#search-text {
    font-size: 1em;
    padding: 10px 10px 10px 15px;
    width: 70%;
    border: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    outline-color: var(--search);
}

#search-button {
    font-size: 1em;
    background-color: var(--search);
    color: white;
    padding: 10px 10px 10px 5px;
    width: 50px;
    border: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    cursor: pointer;
}

main { padding: 0 40px 100px 40px; }

main h2 { font-size: 1.6em; }

.row-article {
    height: 270px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

#row-article { margin-bottom: 0px; }

.row-article img{ width: 100%; }

.row-article p {
	font-size: 1.2em;
	margin-top: 10px;
}

#three-points {
	text-align: center;
	margin: 0;
	font-size: 3em;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
 }

#button-signin, #button-login {
	margin: 20px 0;
	padding: 12px 0px;
	width: 100%;
	font-size: 0.8em;
	color: white;
	border: none;
	border-radius: 100px;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 0 3px 2px black;
}

#button-signin { background: var(--signin); }

#button-login { background: var(--login); }

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--head);
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    border-top: 7px solid var(--border);
}

nav ul li {
    display: inline-block;
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

nav ul li a i {
    color: white;
    font-size: 1.8em;
}


nav ul li a .bi-search { font-size: 1.6em; }

nav ul li a .bi-person-fill { font-size: 2.2em; }

nav ul li:nth-child(1) { padding: 10px 10px 25px 20px; }

nav ul li:nth-child(3) { padding-top: 12px; }

nav ul li:nth-child(5) { padding-top: 5px; }

nav ul li:nth-child(7) { padding: 12px 20px 25px 10px; }

.divider {
    margin-top: 15px;
    height: 40px;
    width: 10px;
    background-color: var(--border);
}

@media (min-width: 375px) {
    .row-article { height: 300px; }
}

@media (min-width: 414px) {
    .row-article { height: 320px; }
}

@media (min-width: 568px) {
        
    header h1 {
        font-size: 2em;
        padding: 10px 0;
    }
    
    header i { font-size: 2.5em; }
    
    .category {
        padding-top: 100px;
        height: 400px;
    }
    
    .category h2 {
        font-size: 3em;
        padding-top: 0px;
    }
    
    #search-form { margin-top: 30px; }
    
    #search-text { padding: 10px 10px 10px 20px; }
    
    #search-button {
        font-size: 1em;
        padding: 10px 10px 10px 5px;
        width: 60px;
    }

    main { padding: 0 40px 120px 40px; }
    
    main h2 {
        font-size: 2em;
        padding: 10px 0;
    }
    
    .row-article { display: flex; }
    
    .row-article img { height: 100%; }
    
    .row-article p {
        font-size: 1.4em;
        padding-left: 30px;
    }
        
    #three-points { font-size: 3em; }

    #button-signin, #button-login {
        padding: 14px 0px;
        font-size: 1em;
    }
    
    nav ul { border-top: 7px solid var(--border); }
    
    nav ul li { padding: 10px 0 25px; }
    
    nav ul li a i { font-size: 1.5em; }
}

@media (min-width: 1024px) {
    
    header h1 {
        font-size: 2.5em;
        padding: 10px 0;
    }
    
    header i { font-size: 3em; }
    
    .category h2 {
        font-size: 5em;
        padding-top: 30px;
    }
    
    #search-form { margin-top: 40px; }
    
    #search-text {
        font-size: 1.5em;
        padding: 15px 15px 15px 20px;
    }
    
    #search-button {
        font-size: 1.5em;
        padding: 15px 15px 15px 5px;
        width: 100px;
    }
    
    main h2 {
        font-size: 2.2em;
        margin: 20px 0;
    }
    
    .row-article { display: flex; }
    
    .row-article img { height: 100%; }
    
    .row-article p {
        font-size: 2em;
        padding-left: 40px;
        margin-top: 20px;
    }

    #three-points { font-size: 4em; }
    
    #button-signin, #button-login {
        margin-top: 40px;
        padding: 32px 0;
        font-size: 1.5em;
    }

    .buttons { gap: 20px; }
    
    nav ul li:nth-child(1) { padding: 10px 10px 25px 30px; }
    
    nav ul li:nth-child(5) { padding: 10px 30px 25px 10px; }

    nav ul li a i { font-size: 2em; }

    nav ul li a .bi-search { font-size: 2em; }
}